@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background-color: rgb(211, 182, 211);
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
.logo {
  text-decoration: none;
  color: rgb(18, 20, 92);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation {
  color: rgb(219, 130, 130);
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover {
  color: rgb(2, 46, 85);
}
section {
  padding: 100px;
}

.main {
  width: 100%;
  min-height: 100hv;
  display: flex;
  align-items: center;

  background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
  background-position: center;
}
.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}
.main h2 span {
  display: inline-block;
  margin: 10px;
  color: rgb(238, 209, 195);
  font-size: 3em;
}
.main h3 {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn {
  color: #fff;
  background-color: #3a6cf4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9em 2.2em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.5s ease;
}

.main-btn:hover {
  background-color: #2259f0;
  transform: scale(1.1);
  border-radius: 5px;
  color: rgb(196, 148, 148);
}
.social-icons {
  padding-left: 10px;
}
.social-icons a {
  color: #fff;
  font-size: 1.4em;
  padding-right: 20px;
}
.social-icons a:hover {
  display: inline-block;
  transform: scale(1.1);
}
.title {
  display: flex;
  justify-content: center;
  color: rgb(50, 86, 248);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  width: 21.2em;
  box-shadow: 0 5px 25px rgba(194, 3, 3, 30%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
}
.icon {
  color: rgb(41, 39, 39);
  font-size: 4em;
  text-align: center;
}
.projects {
  background-color: #1a1a1f;
}

.projects .content {
  margin-top: 30px;
}
.project-card {
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.3s ease-in-out;
}
.project-card:hover {
  transform: scale(1.1);
}
.project-card .project-image {
  opacity: 0.9;
}
.project-image img {
  width: 100%;
}
.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: black;
  font-weight: bold;
}
.project-title {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.more-details {
  text-decoration: none;
  display: flex;
  color: #061847;
}
.more-details:hover {
  color: #030e2b;
}
.footer {
  background-color: rgb(41, 39, 39);
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1023px) {
  header {
    padding: 12px 20px;
  }
}
